/* ============== NAV  STARTS ================= */

.navigation {
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: $midnight-blue;

  .form-button {
    margin: 0 auto;
    margin-top: 20px;;
  }

  input {
    color: $asbestos;
  }
}
/* ============== NAV  ENDS ================= */
