/* ============== BODY  STARTS ================= */

.activity {
  label {
    top: -27px;
  }
}

.body-wrapper {
  color: white;
  height: inherit;
  .row {
    height: inherit;
    :first-child {
      height: inherit;
    }
  }
}

@mixin banner--sm(){
  .first-column {
    display: none;
  }
}

.second-column {
  background-color: gray;
  opacity: .9;
  padding-top: 10px !important;

  span {
    line-height: 1.5;
  }
}
/* ============== BODY  ENDS ================= */
